ol.dateline {
  list-style-type: none;
  background-color: #FFF;
  border: dotted;
  border-color: #55D6BE;
}
ol.dateline a {
  color: #7161EF;
}
li {
  display: inline;
}
.date {
  position: relative;
  bottom: 15px;
  padding: 10px;
}
.image {
  width: 46px;
  position: relative;
  top: 2px;
}
.image1 {
  width: 25px;
  position: relative;
  bottom: 9px;
  left: 120px;
}
.twitter-share-button {
  display: inline;
}
