ol.dateline {
  list-style-type: none;
  background-color: #FFF;
  border: dotted;
  border-color: #55D6BE
}
ol.dateline a {
  color: #7161EF;
}
.dateline {
  width: auto;
  position: relative;
}
.dateline li {
    display: inline;
  padding-right: auto;
  left: 20px;
}
.date {
  position: relative;
  bottom: 15px;
  padding: 10px;
}
.image {
  width: 46px;
  position: relative;
  top: 2px;
}
.image1 {
  width: 25px;
  position: relative;
  bottom: 9px;
  left: 12px;
}
.twitter-share-button {
  display: inline;
}
.booklist{
  list-style-type: decimal;
  color: #55D6BE;
}
.booklist li {
  padding-bottom: 5px;
}
.booklist a {
  color: #404040;
}
