#header {
  text-shadow: 3px 3px #0f52bf;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;


}
.menuitem {
  position: relative;
  display: inline;
  margin: 0 16px 0 16px;
  text-shadow: 4px 4px #ccc;
  text-align: center;
  font-size: 20px;
  right: 20px;
}
.menuitem:hover {
        text-shadow: 2px 2px #ccc;
        top: 2px;
        right: 18px;
    }
#content1 {
  display: block;
  position: ;
  width: 530px;
  margin-left: 27%;
  margin-right: auto;
  overflow: hidden;
}
.postlist1 {
        list-style-type: none;
        margin-right: auto;
        margin-left: auto;


      }
.postlist {
  margin-bottom: 3px;
  display: none;
}
.show {
  display: block;
}
.icon {
  max-width: 30px;
  position: relative;
  top: 11px;
}
.date {
  color: #404040;
}
/* of date color: #63a8a3 */

#myBtnContainer {
  display: block;
  width: 190px;
  position: fixed;
  margin-top: -40px;
}

#categorylist {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
.icon2 {
  max-width: 30px;
  position: relative;
  top: 11px;
}
#contentbody {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #e6e6df;
  font-family: ibm_vga,monospace!important;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  color: #404040;
}
a, a:active, a:visited {
        text-decoration: none;
    }
sa:hover, a:hover {
        color: #e01469;
    }
h1 {
  color: #5998ff;
  text-align: center;
  font-size: 50px;
}
h2 {
  color: #404040;
  text-align: center;
  font-size: 20px;
  margin-left: 10%;
  position: static;
}
p {
  color: #404040;
}
p.fuck {
  margin-left: auto;
  margin-right: auto;
  width: 290px;
}
li.postlist:hover {
  background-color: blue;
}

a.lista {
  color: #14e05f;
}
a.asa {
  color: #404040;
}

a.asa:hover, a.lista:hover {
  color: #e01469;
}
li.category:hover {
  background-color: blue;
}
* {
  box-sizing: inherit;
}
#grog {
  color: #e01469;
}
p a {
  color: #404040;
}
