.menuitem {
    margin: 0 4px 0 4px;
    padding: 0;
}
.menuitem {
        position: relative;
        display: inline;
        text-shadow: 4px 4px #444;
        margin: 0 16px 0 16px;
        text-align: center;
    }

.menuitem:hover {
        text-shadow: 2px 2px #444;
        top: 2px;
        left: 2px;
    }
    #header_right {
        align-items: center;
        text-shadow: 5px 5px #555;
        padding: 20px;
        text-align: center;
    }

    #header_left {
        float:left;
        text-align:center;
    }
    #header_left > a > img {
        width: 180px;
        box-shadow: 5px 5px #555;
        text-align: center;
        background-color: #00002F;
    }

    #content1 {
        margin-left: auto;
        margin-right: auto;
    }
#content2 {
  margin-left: auto;
  margin-right: auto;
}
    #header {
        clear: both;
        display: table;
        margin-left: auto;
        margin-right: auto;
        font-family: verdana;
        padding: 30px;
    }
    #postlist {
      margin: 25px;
      text-align: start;
    }
body {
        background-color: #212121;
        color: #000000;
        animation: fade_in 750ms;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.2;
        margin: 0;
    }
h1 {
        color: ;
        text-align: center;
        font-size: 35px;
        margin-top: 57px;
    }
h3 {
        font-size: 30px;
        margin-bottom: -15px;
}
p {
        font-size: 20px;
        color: black;
    }
a, a:hover, a:active, a:visited {
        text-decoration: none;
        color: #ffffff;
    }
sa:hover, a:active {
        color: #1c1;
    }
    #content, #header {
      width: 769px;
        max-width: 768px; }
  ol {
            display: block;
            list-style-type: none;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 30px;
        }

  li {
    margin: 10px;
  }
