.menuitem {
    margin: 0 4px 0 4px;
    padding: 0;
}
.menuitem {
        position: relative;
        display: inline;
        text-shadow: 4px 4px #444;
        margin: 0 16px 0 16px;
        text-align: center;
    }

.menuitem:hover {
        text-shadow: 2px 2px #444;
        top: 2px;
        left: 2px;
    }
    #header_right {
        align-items: center;
        text-shadow: 5px 5px #555;
        padding: 20px;
        text-align: center;
    }

    #header_left {
        float:left;
        text-align:center;
    }
    #header_left > a > img {
        width: 180px;
        box-shadow: 5px 5px #555;
        text-align: center;
        background-color: #00002F;
    }

    #content {
        margin-left: auto;
        margin-right: auto;
    }

    #header {
        clear: both;
        display: table;
        margin-left: auto;
        margin-right: auto;
        font-family: verdana;
    }
body {
        background-color: #181818;
        color: #eee;
        animation: fade_in 750ms;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.1;
        margin: 0;
        padding: 15px 15px 30px 15px;
    }
h1 {
        color: white;
        text-align: center;
    }
h3 {
        color: #1a1;
        font-size: 30px;
        font-family: verdana;
}
p {
        font-family: verdana;
        font-size: 20px;
    }
a, a:hover, a:active, a:visited {
        text-decoration: none;
        color: #1a1;
    }
sa:hover, a:active {
        color: #1c1;
    }
