html {
  overflow-y: overlay hidden;
}
/* Change Selection Text Color When Highlighting */
::-moz-selection { background-color: #55D6BE;
color: #fff; }
::selection { background-color: #56D6BE;
color: #fff; }
/* END */
head {

}
body {
  color: #404040;
  background-color: #f5ebe0;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  font-family: arial, sans-serif;
}
/* NOTE: BASICS */

h1 {
  font-size: 50px;
  font-family: Garamond, Times, serif;
}
p {

}
/* NOTE: HEADER */

#header {
  text-align: center;
}
#header ul {
  list-style-type: none;
  margin: 0 42px 0 0; /*1:Top 2:Right 3:Bottom 4:Left*/
}
#header ul li {
  display: inline;
  margin: 0 12px 0 12px;
  outline: dotted;
  outline-offset: 4px;
  outline-color: #55D6BE;
}
#header a {
  text-decoration: none;
  color: inherit;
  font-family: Trebuchet MS, sans-serif;
}

/* NOTE: BODY "CONTENT" */
h2 {
  font-size: 23px;
  margin-bottom: -11px;
}
h3 {
  font-size: 15px;
  margin-bottom: -15px;
}
    /* NOTE: LIST */
      #list ul {
        list-style-type: none;
      }
      #list ul a {
        text-decoration: none;
        color: #7161EF;
      }
      .date {
        font-family: monospace;
        font-size: 14px;
      }
      .icon {
        max-width: 20px;
        position: relative;
        top: 5px;
      }

/* NOTE: FOOTER */
#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2.5rem;
}
#page {
  position: relative;
  min-height: 100vh;
}
#page2 {
    padding-bottom: 2.5rem;
}
